{% extends 'apptemplates/base.html' %}
{% load static %}


{% block title %}

{% endblock title %}
    

{% block body %}
<section class="py-1 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Sobre nosotros</h2>
                    <p class="lead mb-0">Información que te puede ser útil</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Más de 10 años de experiencia en la venta de instrumentos musicales en el país.</p>
                                        <div class="small text-muted">- Instruments4Sale</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Inicialmente un emprendimiento familiar, hoy una empresa nacional con múltiples sucursales a lo largo de todo nuestro país.</p>
                                        <div class="small text-muted">- Instruments4Sale</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 3-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Consultas:
                                        <p class="mb-1">email - instruments4sale@gmail.com
                                        <p class="mb-1">facebook - instruments4sale</p>
                                        <div class="small text-muted">- Instruments4Sale</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}
    